@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
}
:root {
  --element-height: 50px;
  --element-width: 50px;
  --default-color: #f2f2f2fb;
  --default-color-transparent: #f2f2f225;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: var(--default-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 30px 15px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 95%;
  height: auto;
  border-radius: 25px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.8rem;
}
.inner-box {
  margin: 7rem 3rem 3rem 3rem;
  height: var(--element-height);
  width: 150px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  position: relative;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.scroll {
  cursor: grab;
  height: 250px;
  width: var(--element-width);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  position: absolute;
  top: -210%;
  user-select: none;
  scroll-behavior: smooth;
  transition: all ease 0.3s;
}
.minute-container {
  right: 0;
}
.scroll > div {
  height: var(--element-height);
  width: var(--element-width);
  scroll-snap-align: center;
  font-size: 1.4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  font-weight: bold;
  font-size: 1.8rem !important;
}
.grabbing {
  cursor: grabbing;
}
.divider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  height: var(--element-height);
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns {
  width: 100%;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
}
.btn {
  background: none;
  border: none;
  font-size: 1.4rem;
}
.fade {
  position: absolute;
  z-index: 1;
  width: var(--element-width);
  height: calc(1 * var(--element-height));
}
.fade-top {
  background: linear-gradient(
    to bottom,
    var(--default-color),
    var(--default-color-transparent)
  );
  top: -103px;
}
.fade-bottom {
  background: linear-gradient(
    to top,
    var(--default-color),
    var(--default-color-transparent)
  );
  bottom: -103px;
}
.fade-hour {
  left: 0;
}
.fade-minute {
  right: 0;
}
